html
	head
		link(rel='stylesheet', href='css/style.css', attr)
		<script src="https://use.fontawesome.com/525ca23e8d.js"></script>

	body
		header
			nav.flex.flex--space-around.align-center.rows
				.logo.flex.flex--center.align-center.columns
					h4 R&W 
					h6 Creative Services
				.links.flex.flex--center.align-center.rows
					a(href="")
						span Home
					a(href="")
						span About
					a(href="")
						span Contact Us
					a(href="")
						span Other Templates
					
		.flex-row.flex.flex--center.align-center.rows
			.flex-unit.flex.flex--center.align-center.columns.flex-1.posr
				.overlay.flex.flex--center.align-center.columns.posa
					h6 Publishing
					h2  Lorem ipsum dolor sit amet.
					h3.button  Lorem ipsum dolor sit amet.
			.flex-unit.flex.flex--center.align-center.columns.flex-1.posr
				.overlay.flex.flex--center.align-center.columns.posa
					h6 editing
					h2  Lorem ipsum dolor sit amet.
					h3.button  Lorem ipsum dolor sit amet.
		section.information.flex.flex--center.align-center.rows
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 About Us
				h4 Click to find out about us
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 Books Published
				h4 Lorem ipsum dolor sit.
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 Lorem ipsum dolor sit amet.
				h4 Lorem ipsum dolor sit.
		section.about-us.flex.align-center.rows
			
		section.published.flex.flex--center.align-center.rows
			.title-unit.flex.flex-1
				h1 Books Published
			.flex-table.flex.flex--center.align-center.columns.flex-1
				p Lorem ipsum dolor.
				p Lorem ipsum dolor.
		section.edited.flex.flex--start.align-center.rows
			.title-unit.flex--center.align-end.flex-1
				h1 Manscripts edited
			.flex-table.flex.flex--center.align-center.rows.flex-1
				.col.flex.flex--center.align-center.columns
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
				.col.flex.flex--center.align-center.columns
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
		
		section.contact.flex.flex--center.align-center.columns
			h5 Lorem ipsum dolor sit.
			h2  Lorem ipsum dolor sit amet, consectetur.
			a.button(href="") Contact
