html
	head
		<script src="https://use.fontawesome.com/525ca23e8d.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		link(rel='stylesheet', href='css/style.css', attr)
	body
		header
			nav.flex.flex--space-around.align-center.rows
				.logo.flex.flex--center.align-center.columns
					h4 HERITAGE 
					h6 Creative Services
				.links.flex.flex--center.align-center.rows
					a(href="")
						span Home
					a(href="")
						span Home
					a(href="")
						span Home
					a(href="")
						span Home
					a(href="")
						span Home
		.flex-row.flex.flex--center.align-center.rows
			.flex-unit.flex.flex--center.align-center.columns.flex-1
				h2  Lorem ipsum dolor sit amet.
				h3  Lorem ipsum dolor sit amet.
			.flex-unit.flex.flex--center.align-center.columns.flex-1
				h2  Lorem ipsum dolor sit amet.
				h3  Lorem ipsum dolor sit amet.
		.information.flex.flex--center.align-center.rows
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 Lorem ipsum dolor sit amet.
				h2 Lorem ipsum dolor sit.
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 Lorem ipsum dolor sit amet.
				h2 Lorem ipsum dolor sit.
			.info-unit.flex.flex--center.align-center.columns.flex-1
				i.fa.fa-angle-down
				h2 Lorem ipsum dolor sit amet.
				h2 Lorem ipsum dolor sit.
		section.published.flex.flex--center.align-center.rows
			.title-unit.flex.flex-1
				h1 Books Published
			.flex-table.flex.flex--center.align-center.columns.flex-1
				p Lorem ipsum dolor.
				p Lorem ipsum dolor.
		section.edited.flex.flex--start.align-center.rows
			.title-unit.flex--center.align-end.flex-1
				h1 Manscripts edited
			.flex-table.flex.flex--center.align-center.rows.flex-1
				.col.flex.flex--center.align-center.columns
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
				.col.flex.flex--center.align-center.columns
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
					p  Lorem ipsum dolor.
		
		section.contact.flex.flex--center.align-center.columns
			h5 Lorem ipsum dolor sit.
			h2  Lorem ipsum dolor sit amet, consectetur.
			a.button(href="") Contact
